*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#1f1f1f;
  color:#fff;
  font-family:Arial,Helvetica,sans-serif;
}

#app{
  max-width:520px;
  margin:0 auto;
  padding:16px;
}

h1{
  text-align:center;
  margin-bottom:15px;
}

#reader{
  width:100%;
  border-radius:12px;
  overflow:hidden;
  background:#000;
  margin-bottom:15px;
  min-height:260px;
}

input,
textarea{
  width:100%;
  padding:14px;
  margin-bottom:16px;
  border:none;
  border-radius:10px;
  font-size:18px;
}

textarea{
  resize:vertical;
  min-height:90px;
}

.group{
  margin-bottom:18px;
}

.group h3{
  margin-bottom:8px;
}

.buttons{
  display:flex;
  gap:10px;
}

.buttons button{
  flex:1;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#555;
  color:#fff;
  font-size:17px;
  cursor:pointer;
  transition:.2s;
}

.buttons button.active{
  background:#00c853;
}

.save{
  width:100%;
  padding:18px;
  border:none;
  border-radius:10px;
  background:#00c853;
  color:#fff;
  font-size:22px;
  cursor:pointer;
}

.save:active{
  transform:scale(.98);
}